@import url(https://fonts.googleapis.com/css?family=Fjalla+One:regular);
@import url(https://fonts.googleapis.com/css?family=Bungee+Inline:regular);
@import url(https://fonts.googleapis.com/css?family=Bungee+Outline:regular);
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular);
@import url(https://fonts.googleapis.com/css?family=Encode+Sans:400,500,600,700,800,900);


$beige: #E0DCD1;
$lightBeige: #F2EEE3;
$darkBeige: #c4cfbb;
$lightGray: #9C9C9C;
$darkGray: #514963;
$offBlack: rgb(25, 25, 25);

body {
    height: 100%;
    width: 100% !important;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin-left: 0;
  }

.App {
  display: flex;
}

#city-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100% !important;
  box-sizing: border-box;
  background: $lightBeige url(cityStreet1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 48% 40%;
  margin: 0;
  z-index: -1;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100% !important;
  box-sizing: border-box;
  background: $lightBeige url(Beige-texture.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  margin: 0;
  z-index: -1;
}

.app-title {
  z-index: 1000;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);

  font-family: 'Encode Sans';
  font-size: 2em;
  background: $beige;
  // background: linear-gradient(90deg, rgb(133, 133, 133) 0%, rgba(242,238,227,1) 100%);

  color: #514963;
  padding: 2px 10px;
  border-radius: 2px;
  box-shadow: 3px 5px 10px rgb(32, 32, 32);

  .big-letter {
    margin-left: 10px;
    font-size: 1.6em;
  }
}

.loginContent{

  .backRight {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: 100% 50%;
  }
  
  .backLeft {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
  }
  
  #back {
    width: 100%;
    height: 98%;
    position: absolute;
    z-index: -999;
  }
  
  #slideBox {
    width: 50%;
    max-height: 100%;
    height: 98%;
    overflow: hidden;
    margin-left: 50%;
    position: absolute;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .topLayer {
    width: 200%;
    height: 100%;
    position: relative;
    left: 0;
    left: -100%;
  }
  
  .left {
    width: 50%;
    height: 100%;
    background: #2C3034;
    left: 0;
    position: absolute;
  }
  
  .right {
    width: 50%;
    height: 100%;
    background: $lightBeige;
    right: 0;
    position: absolute;
  }
  
  .content {
    width: 250px;
    margin: 0 auto;
    top: 30%;
    position: absolute;
    left: 50%;
    margin-left: -125px;
  }
  
  .content h2 {
    color: #03A9F4;
    font-weight: bold;
    font-size: 35px;
  }

  #login, #signup {
    background: #03A9F4;
    color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  }

  #goRight, #goLeft, #login, #signup {
    padding: 10px 16px;
    width: auto;
    font-weight: 600;
    text-transform:  uppercase;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    border-radius: 2px;
    border: 0;
    outline: 0;
    margin: 15px 15px 15px 0;
    transition: all 0.25s;
  }
  
 #login:hover, #signup:hover {
    background: #0288D1;
    box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  }
  
  #goRight , #goLeft {
    color: #03A9F4;
  }

  #goRight:hover {
  box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.2);
}

  #goLeft {
    background: inherit;

    &:hover {
      box-shadow: 0 4px 7px rgba(0,0,0,0.3), 0 3px 6px rgba(0,0,0,0.2);
    }
  }

    // Login page slide animations
      .anim-slide-left {
        animation: slide-left .7s;
        animation-fill-mode: forwards;
      }
      @keyframes slide-left {
        from {margin-left : 50%}
        to {margin-left : 0%}
      }
      .anim-login-slide-left {
        animation: login-slide-left .7s;
        animation-fill-mode: forwards;
      }
      @keyframes login-slide-left {
        from {margin-left : 0%}
        to {margin-left : 100%}
      }
      .anim-slide-right {
        animation: slide-right .7s;
        animation-fill-mode: forwards;
      }
      @keyframes slide-right {
        from {margin-left : 0%}
        to {margin-left : 50%}
      }
      .anim-login-slide-right {
        animation: login-slide-right .7s;
        animation-fill-mode: forwards;
      }
      @keyframes login-slide-right {
        from {margin-left : 100%}
        to {margin-left : 0%}
      }
  
  .right .off:hover {
    background: #eee;
    color: #03A9F4;
    box-shadow: none;
  }
  .left .off:hover {
    box-shadow: none;
    color: #03A9F4;
    background: #363A3D;
  }

  input {
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #45494C;
    font-size: 14px;
    color: #959595;
    padding: 8px 0;
    margin-top: 20px;
  }
}

.aboveNav {
  width: 95vw;
  display: inline-flex;
  justify-content: space-between;
  .greeting {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: auto;
    color: #3c3c3c;
  }
}

.homepage {
height: auto;

.titleName {
  font-size: 3rem;
  margin: 3px 0px 5px 4px;
  color: #003755;
  font-family: 'Encode Sans';
  padding: 0px 10px;
  font-weight: 800;
  border-radius: 6px;
}

.nav {
  border-radius: 15px;
  border: solid black 1px; 
  background-color: rgba(12, 12, 12, 0.89);
  margin: 0px 0px 1.5vh 3px;
  display: inline-flex;
  justify-content: space-evenly;
  width: 98.5vw;
  div {
    
    height: 100%;
    // padding: 0.5rem;
    // margin: 0.5rem;
    padding: .7rem 1.2rem;
    margin: 0.2rem;
    border-radius: 15px;
    .nav-link {
      text-decoration: none;
      color: $lightBeige;
      text-align: center;
    }
  }
  div:hover {
    background-color: rgba(255, 255, 255, 0.428);
    .nav-link {
      color: black;
    }
  }
}

.dashboardcontainer {  
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Graph expenses"
    "Graph incomes";

  max-height: 80vh;

  
  .Graph {
    grid-area: Graph; 
    background-color: rgba(255, 255, 255, 0.844);
    border-radius: 15px; 
    margin:3px;
    .chartWrapper {
      display: block;
      position: relative;
      width: 60%;
      margin: 2.5% auto;
      /*canvas {
        margin-left: 50%;
        margin-top: 30%;
      }*/
    }
  }

  .expenses { 
    grid-area: expenses;
    overflow-y: scroll;
  }
  
  .incomes {
    grid-area: incomes; 
    overflow-y: scroll;
  }

  .expenses::-webkit-scrollbar, .incomes::-webkit-scrollbar {
    display: none; 
  }

  .expenses, .incomes {
    border-radius: 15px;
    border: solid black 1px; 
    background-color: rgba(255, 255, 255, 0.844);
    margin: 5px 3px;
    
    .expenseItem, .incomeItem {
      margin: 2.5%;
      border-radius: 15px;
      padding: 5px;
      border: solid black 1px;

      .expenseName {
        white-space: nowrap
      }
    }
  }
}}

.expenses-page, .income-page{
  display: block;

  .history-container {
    height: 80vh;
    overflow: auto;
    background-color: #f2eee3c5;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 10px rgb(0, 0, 0);

    .expenseItem, .incomeItem{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      
      span {
        border: 1px solid black;
        padding: 3px
      }
    }
  }

  .input-div {
    background-color: #003755;
    padding: 8px;
    display: flex; 
    justify-content: space-around;

    label{
      color: white;
      text-align: center;
      margin: auto;
    }
    input {
      
    }
    
    select{

    }
  }
}

.title {
  padding-left: 1rem;
  top: 0;
  position: sticky;
  background: $darkBeige;
  padding: 0.5rem;
}